<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <title>{% block pageTitle %}{% endblock %} - emailhooks.xyz</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,300,700,900'>

    <link rel="stylesheet" href="{% static "css/icons.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
  </head>
  <body>

  {% include 'navbar.html' %}

  {% block content %}{% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script>
    $(function () {
      // kill boostrap transitions:
      $.support.transition = false;
    });
  </script>

  </body>
</html>
