{% extends "base.html" %}

{% block pageTitle %}Add Recipient{% endblock %}

{% block navbar %}
	<ul class="nav">
	  <li><a href="../myRecipients">My Recipients</a></li>
	  <li><a href="../faq">FAQ</a></li>
	</ul>
	
	<ul class="nav pull-right">
	  <li class="visible-desktop" id="email">{{email}}</li>
	  <li><a href="{% url core.views.log_user_out %}" id="logoutLink"><span id="logoutLinkSpan" class="hidden-desktop"><i class="icon-signout"></i></span> Sign Out</a></li>
	</ul>
{% endblock %}


{% block content %}
	<div class="row" id="add_row1">
		<div class="span12">
			<div class="hero-unit" id="myHero">
				<h4 id="add_title">Create Recipient <i class="icon-cogs"></i></h4>			
				<div id="alignmentBox">
					<form action="{% url core.views.add %}" method="post" class="form-horizontal" accept-charset="utf-8">
					{% for field in form %}
						<div class="fieldWrapper">
							{% if field.errors %}
								<div class="alert alert-error" id="alertBox">
								  <a class="close" data-dismiss="alert" href="#">&times;</a>
								  <h4 class="alert-heading" id="myAlert">Opa! <span style="font-weight: normal;">{{ field.errors.as_text }}</span></h4>
								</div>
							{% endif %}
							
							{% if field.html_name == "recipient" %}
								<div class="control-group {% if field.errors %}error{% endif %}">
									<label class="control-label myLabels">{{ field.label }}</label>
									<div class="controls">	
										<input type="text" class="span4" placeholder="whatever" name="{{ field.html_name }}">
										<p class="help-inline">@emailization.com</p>
									</div>
								</div>
							{% else %}
								<div class="control-group {% if field.errors %}error{% endif %}">
									<label class="control-label myLabels">Destination</label>
									<div class="controls">	
										<input type="text" class="span4" placeholder="http://yourapp.com/incomingMail" name="{{ field.html_name }}">
									</div>
								</div>
							{% endif %}							
						</div>
					{% endfor %}
					<div class="control-group">
						<div class="controls" id="addButton">
							<input type="submit" value="Add Recipient" class="btn btn-inverse" />
						</div>
					</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}