<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emailitzation - {% block pageTitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
	<link rel="stylesheet" type="text/css" href="../static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" />
	
  </head>
    <body>
	
	{% block modal %}{% endblock %}
    
	<div id="top-border">
	</div>
	
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container" id="navShorten">
			 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" id="collapseButton">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>		
			<a class="brand" href="{% url core.views.home %}" id="logo"><i class="icon-envelope"></i> Emailization</a>
			<div class="nav-collapse">
				{% block navbar %}{% endblock %}
			</div>
		</div>
	  </div>
	</div>
		
	<div class="container">
		
		{% block content %}{% endblock %}
		
	</div> <!-- /container -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
	
	</body>
</html>
