{% extends "base.html" %}

{% block pageTitle %}Verify{% endblock %}

{% block navbar %}
	<ul class="nav">
	  <li><a href="../myRecipients">My Recipients</a></li>
	  <li><a href="../faq">FAQ</a></li>
	</ul>
	
	<ul class="nav pull-right">
	  <li class="visible-desktop" id="email">{{email}}</li>
	  <li><a href="{% url core.views.log_user_out %}" id="logoutLink"><span id="logoutLinkSpan" class="hidden-desktop"><i class="icon-signout"></i></span> Sign Out</a></li>
	</ul>
{% endblock %}


{% block content %}
	<div class="row" id="add_row1">
		<div class="span8 offset2">
			<div class="hero-unit" id="heroPadding">
				<h4 id="check_title">Verify Ownership <i class="icon-ok icon-large"></i></h4>			
				<p id="check_p">To prevent abuse, we ask that you verify that you you own the target.  Just make a blank html file here: </p>
				<p id="check_p">{{domain_root}}{{rndstring}}.html</p>
				<form action="{% url core.views.check %}" method="post" accept-charset
="utf-8">				
					{% if ownershipCheckFail %}
						<div class="alert alert-error" id="check_alertBox">
						  <a class="close" data-dismiss="alert" href="#">&times;</a>
						  <h4 class="alert-heading" id="myAlert">Opa! <span style="font-weight: normal;">Can't find the file! Try again.</span></h4>
						</div>
					{% endif %}
					
					<input type="hidden" value="{{ recipient }}" name="recipient" />
					<input type="hidden" value="{{ script_url }}" name="script_url" />
					<input type="hidden" value="{{ rndstring }}" name="rndstring" />
					<input type="hidden" value="{{ domain_root }}" name="domain_root" />
					
					{% if edit %}
					<input type="hidden" name="old_recipient" value="{{ old_recipient }}" />
					<input type="hidden" name="old_url" value="{{ old_url }}" />
					<input type="hidden" name="edit" value="True" />
					{% else %}
					<input type="hidden" name="edit" value="False" />
					{% endif %}
				
					<input type="submit" value="Verify my ownership" class="btn btn-inverse" id="check_button"/>					
				</form>
			</div>
		</div>
	</div>
{% endblock %}
