{% extends "base.html" %}

{% block pageTitle %}FAQ{% endblock %}

{% block navbar %}
	{% if email %}
      <ul class="nav">
	    <li><a href="../myRecipients">My Recipients</a></li>
	    <li class="active"><a href="#">FAQ</a></li>
	  </ul>
      
	  <ul class="nav pull-right">
	    <li class="visible-desktop" id="email">{{email}}</li>
	  	<li><a href="{% url core.views.log_user_out %}" id="logoutLink"><span id="logoutLinkSpan" class="hidden-desktop"><i class="icon-signout"></i></span> Sign Out</a></li>
	  </ul>
	{% endif %}  
{% endblock %}


{% block content %}
	<div class="row" id="add_row1">
		<div class="span8">
			<h4 id="faqHeader">FAQ</h4>
			<h4 class="subHeader">Is it free?</h4>
				<p>Yes</p>
			<h4 class="subHeader">How does it work?</h4>
				<p>Pick a recipient (_______@emailization.com) and anything sent to that address will be automatically forwarded as a POST request to url of your choosing.  You can now receive emails in real-time! Magic!</p>	
			<h4 class="subHeader">What does the POST request look like?</h4>
				<p>
					<table class="table table-striped table-condensed table-bordered" style="width: auto;">
						<thead id="whiteHead">
							<tr>
								<td><b>POST item</b></td><td><b>Example data</b></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>sender</td><td>Gmail Team &lt;mail-noreply@google.com&gt;</td>
							</tr>
							<tr>
								<td>to</td><td>to@emailization.com</td>
							</tr>
							<tr>
								<td>cc</td><td>cc@emailization.com</td>
							</tr>
							<tr>
								<td>date</td><td>June 7, 2012, 9:29 a.m.</td>
							</tr>
							<tr>
								<td>subject</td><td>Subject text</td>
							</tr>
							<tr>
								<td>plaintext_body</td><td>Plain text here...</td>
							</tr>
							<tr>
								<td>html_body</td><td>&lt;html&gt; &lt;head&gt; &lt;meta http-equiv...</td>
							</tr>
							<tr>
								<td>security_key</td><td>s2de1488143r05301df434</td>
							</tr>
						</tbody>
					</table>
					To provide some degree of security to show that the POST if coming from emailization, a <strong>secuirty_key</strong> unique to your user is included with each request.
				</p>
			<h4 class="subHeader">Are attachments supported?</h4>
				<p>Unfortunately no... Google App Engine gives you 1gb of outgoing bandwidth per day, which is enough to handle a bunch of text emails but could go quickly POSTing files.<br /><br />
				If you need attachments, check out this <a href="https://github.com/capitao/bare-bones-receiver">email receiver app</a>.  It's all set to go, you'll just have to fire up a new App Engine instance and upload it.  Then you'll get a free 1gb outgoing for all your precious files.</p>
			<h4 class="subHeader">Are there any limitations?</h4>
				<p>You can only create 3 recipients at a time (an arbitrary number just make sure things don't get crazy) but that's it! Do whatever is useful for you and receive as many emails as you like. If you do receive a lot of emails though, consider running a <a href="https://github.com/capitao/bare-bones-receiver">receiver</a> yourself so emailization doesn't get too swamped.</p>
			<h4 class="subHeader">Can I use my own domain? (like me@mysite.com?)</h4>
				<p>No and yes. Within emailization itself there's no way to set your own domain. However, you could easily set any email address you control (like say a me@mysite.com that you made with a google apps account) to auto forward to your emailization recipient.  Your email will come through just the same! <br /><br />
				You could even get fancy with a catchall email address for your domain that forwards to your emailization recipient.  That process might look like this: <br /><br />
				address@yoursite.com -> catchall@mysite.com -> user@emailization.com -> your app <br/><br />
				Emailization will get the sender and to fields of the email all the same.  This means you could potentially have as many "To" addresses for your domain as you want, and when the email hits your app as a POST, your could parse out and separate emails both by who sent it and who they sent it to.  Options, nice!</p>
			<h4 class="subHeader">What could I use this for?</h4>
				<p>I think there's a lot of cool things you could do with this.  You could receive SMS in your app for example.  Just set up a Google Voice number and have it send copies of the SMS to your email.  Have that email forward them to Emailization and BAM! SMS capabilities in your app. Smooth.<br /><br />
				Another feature I was after was letting smart phone peoples communicate with your app.  There's always an 'email this or that' option in apps.  You could use Emailization to harvest that data pretty easily. <br /><br />
				Or you could use it in conjunction with <a href="http://ifttt.com">ifttt</a> or a similar service. There's a ton of triggers you can use! There's probably lots of uses for receiving email, just get creative.</p>
			<h4 class="subHeader">Contact me</h4>
				<p>Let me know whats up! Does this suck, am I doing it wrong, is it awesome?
				  <br /><br />
				Go ahead and email me@emailization.com</p>  
			
		</div>		
	</div>
	<div style="height: 50px;"></div>
{% endblock %}