<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emailitzation - Recieve email in your web app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	
  </head>

  <body>

	<div class="content">
	  <div class="wrapper">

		<div id="top-border">
		</div>
		<div class="navbar">
		  <div class="navbar-inner">
			<div class="container">
			</div>
		  </div>
		</div>

		<div class="container">
	
			<div class="row" id="row1">
				<div class="span12" id="titleImage">
					<h1 id="title"> Emailization </h1>
				</div>
			</div>
			<div class="row" id="row2">
				<div class="span10 offset1">
					<h2 id="subTitle">Recieve email in your web app</h2>
				</div>
			</div>
			
			<div class="row visible-desktop" id="row3">
				<div class="span4">
					<i class="icon-user"></i>
				</div>
				<div class="span4">
					<i class="icon-cogs" style="position: relative; right: 7px;"></i>
				</div>
				<div class="span4">
					<i class="icon-envelope"></i>
				</div>	
			</div>
			
			<div class="row visible-desktop" id="row4">
				<div id="dots"></div>
				<div class="span4">				
					<div class="circle">
						<p class="num">1</p>
					</div>
				</div>
				<div class="span4">				
					<div class="circle">
						<p class="num">2</p>
					</div>
				</div>
				<div class="span4">				
					<div class="circle">
						<p class="num">3</p>
					</div>
				</div>
			</div>
			
			<div class="row" id="row5">
			
				<div class="span4 centeredText" id="row5spanTab">
					<i class="icon-user hidden-desktop iconTab" id="icon1"></i>
					<div class="contentTab">	
						<div class="circle hidden-desktop" id="circleTab">
							<p class="num" id="numTab">1</p>
						</div>
						<div class="contentTabRight">	
							<h4 class="itemHeader">Make a recipient,</h4>
							<p class="bigger bold pTab">(ex: you@emailization.com)</p>
						</div>
					</div>
				</div>
				
				<div class="span4 centeredText" id="row5spanTab">
					<i class="icon-cogs hidden-desktop iconTab" id="icon2"></i>
					<div class="contentTab">	  
						<div class="circle hidden-desktop" id="circleTab">
							<p class="num" id="numTab">2</p>
						</div>
						<div class="contentTabRight">	
							<h4 class="itemHeader">Tell it where to POST,</h4>
							<p class="bigger bold pTab">(ex: your-app.com/mail)</p>
						</div>
					</div>
				</div>
				
				<div class="span4 centeredText" id="row5spanTab">
					<i class="icon-envelope hidden-desktop iconTab" id="icon3"></i>
					<div class="contentTab">	  
						<div class="circle hidden-desktop" id="circleTab">
							<p class="num" id="numTab">3</p>
						</div>
						<div class="contentTabRight">	
							<h4 class="itemHeader">Receive Emails</h4>
							<p class="bigger bold pTab">Emails sent to the recipient you created will be POST'd to you app.  Bask in the glorious data.</p>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row" id="row6">
				<div class="span6 offset3">
					<div id="buttonDiv">
						<form action="{% url core.views.googlelogin %}"> 
							<button id="loginButton">Sign in with Google Account</button>
						</form>
					</div>
				</div>
			</div>
						
			<div class="row" id="row7">
				<div id="row7div">
					<div id="row7topBorder"> 	
						<div id="div1">	
							<div id="div1inner">
								<h4 id="row7title1">For Frrreeee!</h4>
								<p class="bigger" id="row7p1">Use it for free!  I wanted to be able to recieve emails in something I was building recently but I didn't want to have to set up a whole email server just to get a few emails in.  After some research, I found that Google App Engine lets you receive emails with their API so I built up a quick app.  Once I set it up, I figured I should share it. I hope you can find it useful!  You can check the <a href="faq">FAQ </a> for more about emailizaion and some ideas for using it.</p>
							</div>
						</div>
						<div id="div2">	
							<div id="div2inner">
								<h4 id="row7title2">Roll Your Own</h4>
								<p class="bigger" id="row7p2">I made Emailization on Google App Engine with Django.  If you want to run a copy yourself or customize it for your own needs I've put the project up on Github.  Also, I have a super basic app (another Google App Engine app) that just recieves and POST's emails if you want that too.  Its pretty barebones, but all GAE ready in case you need something more fine tuned.</p>
								<div id="githubButtonDiv">
									<a class="btn btn-inverse" href="https://github.com/capitao/bare-bones-receiver" id="b1"><i class="icon-github-sign"></i>  Bare bones receiver</a>
									<a class="btn btn-inverse" href="https://github.com/capitao/emailization" id="b2"><i class="icon-github-sign"></i> Emailization</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
			<div class="row" style="height:70px;"></div>		
		</div> <!-- /container -->
	
		<div class="push"></div>
	  </div><!--wrapper-->
	  <div class="footer-wrapper">
		<footer>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
					</div>
				</div>
			</div>
		</footer>
	  </div>
	</div><!--content-->  

  </body>
</html>
